*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question{
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    justify-content: space-between;
}

.question_technology_box{
    width: 20%;
    height: max-content;
    border: 1px solid;
    display: flex;
}

.question_technology_number{
    width: 100%;
    padding: .8rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    position: relative;
    transition: .2s;
}
.question_technology_number .div {
    position: absolute;
    right: 10px;
    background-color: #318CE7;
    color: #EFEFEF;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: .2rem;
}
.question_technology_number:hover{
    padding-left: 2.5rem;
}

.question_technology_number p:hover{
    color: blue;
}
.question_contain{
    width: 78%;
}

.question_contain_header{
    display: flex;
    justify-content: space-between;
}

.question_contain_body{
    position: relative;
    height: 200px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}

.apply_question{
    width: 200px;
}

.q_c_body_info{
    align-self: center;
}

.technology_search{
    position: absolute;
    right: 50px;
    top: 150px;
    width: max-content;
    padding: .5rem;
    font-size: 0.8rem;
    background-color: #EFEFEF;
    text-decoration: underline;
}

.technology_search:hover {
    text-decoration: none;
    color: blue;
}


.question_title{
    text-decoration: underline;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.question_title:hover{
    color: #8A2BE2;
    text-decoration: none;
}

.number_reponse_box{
    color: blue;
}

.question_info{
    color: lightgray;
}

.question_date, .question_info, .number_reponse_box{
    margin-bottom: .8rem;
}