*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: max-content;
}

.con, .ins, .q_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.dev_box{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.from_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.from_box{
  width: 60%;
}

.from_box h1,.from,.p{
  display: inline-block;
  margin-top: 1.5rem;
  width: 100%;
}

.from-group{
  width: 100%;
  height: max-content;
  margin-bottom: 1.5rem;
} 

.from-group input{
  width: 100%;
  height: 2.5rem;
}

.input{
  margin-top: 0.5rem;
}

button{
  width: 100%;
  height: 2.5rem;
  border: 0;
  border-radius: .3rem;
  background-color: #007FFF;
  color: white;
  font-size : 1rem;
  transition: 0.2s;
}

button:hover{
  background-color: blue;
  cursor: pointer;
}

.question_box{
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.info{
  margin-bottom: 1.5rem;
  color: lightgray;
}

.nav_bar{
  height: 3rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.mail, .out{
  color: darkgray;
  transition: 0.2s;
}

.mail:hover, .out:hover{
  color: gray;
  cursor: pointer;
}

